k8s {
   namespace = 'medgen-ns'
   runAsUser = 1000
   storageClaimName = 'pvc-janlambshare-storage-elixir1-cerit-sc-cz'
   storageMountPath = '/mnt'
   homeDir = '/mnt/home/450402/000000-My_Documents/tp53_run'
   launchDir = "${k8s.homeDir}/launch"
   projectDir = "${k8s.homeDir}/project"
   workDir = "${k8s.homeDir}/temp"
}

params {
   outDirectory = '/mnt/home/450402/000000-My_Documents/tp53_run/launch'
   projectDirectory = "${k8s.projectDir}/xsvato01/TP53_nf"
   bwa_index_mouse = '/mnt/shared/MedGen/references/Mus_musculus/BWA/GRCm38.p6-93'
   bwa_index_zebrafish = '/mnt/shared/MedGen/references/zebrafish/BWA/GRCz11-102'
   ref = '/mnt/shared/MedGen/references/Homo_sapiens/GRCh37-p13/seq/GRCh37-p13'
   vep = '/mnt/shared/MedGen/references/Homo_sapiens/GRCh37-p13/VEP'
   refindex = '/mnt/shared/MedGen/references/Homo_sapiens/GRCh37-p13/index/BWA/GRCh37-p13'
   gatk36 = "${k8s.projectDir}/xsvato01/TP53_nf/bin/GenomeAnalysisTK.jar"
   teststrandbias = "${k8s.projectDir}/xsvato01/TP53_nf/scripts/teststrandbias.R"
   var2vcf_valid = "${k8s.projectDir}/xsvato01/TP53_nf/scripts/var2vcf_valid.pl"
   varbed = "${k8s.projectDir}/xsvato01/TP53_nf/beds/p53_amplicons.2-11exons.merged.bed"
   covbed = "${k8s.projectDir}/xsvato01/TP53_nf/beds/p53_exons+beta_splice2nt.gff"
   vcf_simplify = "${k8s.projectDir}/xsvato01/TP53_nf/scripts/vcf-simplify.py"
   create_table = "${k8s.projectDir}/xsvato01/TP53_nf/scripts/rearange_table_NEW.R"
   coverstat = "${k8s.projectDir}/xsvato01/TP53_nf/scripts/coverage_final_table.R"
   filesender = "${k8s.projectDir}/xsvato01/TP53_nf/scripts/filesender.py"
}

process {
   container = 'registry.gitlab.ics.muni.cz:443/450402/tp53_nf:16'
   shell = ['/bin/bash', '-eo', 'pipefail']
   scratch = true
   executor = 'k8s'
   pod = [[imagePullSecret:'gitlab-svaton-secret'], [securityContext:[fsGroupChangePolicy:'OnRootMismatch', allowPrivilegeEscalation:false, runAsUser:1000, runAsGroup:1, fsGroup:1, capabilities:[drop:['ALL']]]], [nodeSelector:'storage=local-ssd']]
   errorStrategy = { task.exitStatus in [143,137,104,134,139,247] ? 'retry' : 'finish' }
   maxRetries = 3
   cpus = 1
   memory = '1GB'

   withLabel: xs_mem {
      memory = {100.MB * task.attempt * (3/4)}
   }
   withLabel: s_mem {
      memory = {1.GB * task.attempt * (3/4)}
   }
   withLabel: m_mem {
      memory = {4.GB * task.attempt * (3/4)}
   }
   withLabel: l_mem {
      memory = {12.GB * task.attempt * (3/4)}
   }     
   withLabel: xl_mem {
      memory = {64.GB * task.attempt * (3/4)}
   }
   withLabel: s_cpu {
      cpus = 1
   }
   withLabel: m_cpu {
      cpus = 4
   }
   withLabel: l_cpu {
      cpus = 8
   }
}
