k8s {
   namespace = 'medgen-ns'
   runAsUser = 1000
   storageClaimName = 'pvc-713003-pospisilova-base'
   storageMountPath = '/mnt'
   pod = [ [volumeClaim: 'pvc-713003-pospisilova-cmbg', mountPath: "/cmbg" ]]
   homeDir = '/cmbg/Myelo/src'
   launchDir = "${k8s.homeDir}/launch"
   projectDir = "${k8s.homeDir}/project"
   workDir = "${k8s.homeDir}/temp"
}

params {
   homeDir = "${k8s.homeDir}"
   outDirectory = '/cmbg/Myelo/runs'
   projectDirectory = "${k8s.projectDir}/xsvato01/archer_nf"
   ref = '/mnt/references/Homo_sapiens/GRCh37-p13/seq/GRCh37-p13'
   vep = '/mnt/references/Homo_sapiens/GRCh37-p13/VEP'
   refindex = '/mnt/references/Homo_sapiens/GRCh37-p13/index/BWA/GRCh37-p13'
   picard = "${k8s.projectDir}/xsvato01/archer_nf/bin/picard.jar"
   ivl = "${k8s.projectDir}/xsvato01/archer_nf/beds/jana_archer_unique_plus2nt.intervals"
   bed = "${k8s.projectDir}/xsvato01/archer_nf/beds/jana_archer_unique_plus2nt.bed"
   vcf2csv = "${k8s.projectDir}/xsvato01/archer_nf/scripts/vcf2table_MDS.py"
   covscript = "${k8s.projectDir}/xsvato01/archer_nf/scripts/coverage_stat_jana.R"
   mergescript = "${k8s.projectDir}/xsvato01/archer_nf/scripts/merge_tables.R"

   flt3tar = "${k8s.projectDir}/xsvato01/archer_nf/bin/FLT3.tar.gz"
   fgbio = "${k8s.projectDir}/xsvato01/archer_nf/bin/fgbio-0.8.1.jar"
}

executor {
   queueSize = 100
}

process {
   container = 'registry.gitlab.ics.muni.cz:443/450402/archer_nf:1'
   shell = ['/bin/bash', '-eo', 'pipefail']
   scratch = true
   executor = 'k8s'
   pod = [[imagePullSecret:'gitlab-svaton-secret'], [securityContext:[fsGroupChangePolicy:'OnRootMismatch', allowPrivilegeEscalation:false, runAsUser:1000, runAsGroup:1, fsGroup:1, capabilities:[drop:['ALL']]]], [nodeSelector:'storage=local-ssd']]
 //  errorStrategy = { task.exitStatus in [143,137,104,134,139,247,null,''] ? 'retry' : 'finish' }
   errorStrategy = 'retry'
   maxRetries = 3
   cpus = 1
   memory = '1GB'

   withLabel: xxs_mem {
      memory = {100.MB * task.attempt * (3/4)}
   }
   withLabel: xs_mem {
      memory = {500.MB * task.attempt * (3/4)}
   }
   withLabel: s_mem {
      memory = {1.GB * task.attempt * (3/4)}
   }
   withLabel: m_mem {
      memory = {4.GB * task.attempt * (3/4)}
   }
   withLabel: l_mem {
      memory = {12.GB * task.attempt * (3/4)}
   }     
   withLabel: xl_mem {
      memory = {64.GB * task.attempt * (3/4)}
   }
   withLabel: s_cpu {
      cpus = 1
   }
   withLabel: m_cpu {
      cpus = 4
   }
   withLabel: l_cpu {
      cpus = 8
   }
}
